.accordion {
  border-bottom: 1px solid var(--white);
}

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 var(--space-sm);
  width: 100%;
}

.contactContainer {
  font-size: var(--text-xs);
  margin: var(--space-md) 0;
}

.description {
  font-size: var(--text-sm);
  margin: var(--space-md) 0;
}

.faqContainer {
  margin-bottom: var(--space-md);
}

.header,
.faqContainer,
.contactContainer {
  max-width: 1000px;
  width: 100%;
}

.link {
  text-decoration: underline;
}

.title {
  margin: var(--space-sm) 0;
}
