.szh-accordion {
  border-bottom: 1px solid var(--white);
}

.szh-accordion__item {
  border-top: 1px solid var(--white);
}
  
.szh-accordion__item-btn {
  cursor: pointer;
  display: flex;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: var(--space-sm);
  font-size: var(--text-sm);
  text-align: left;
  color: var(--white);
  background-color: transparent;
  border: none;

  &:hover {
    background-color: var(--satan);
  }
}

.szh-accordion__item-panel {
  font-size: var(--text-xs);
  padding: var(--space-sm);
}

.szh-accordion__item--expanded {
  .szh-accordion__item-btn {
    background-color: var(--satan);
  }
}