.item {
  border-top: 1px solid var(--white);
}

.itemBtn {
  align-items: center;
  background-color: transparent;
  border: none;
  color: var(--white);
  cursor: pointer;
  display: flex;
  font-size: var(--text-xs);
  padding: var(--space-sm);
  text-align: left;
  width: 100%;
}

.itemBtnExpanded {
  background-color: var(--satan);
}

.itemContent {
  transition: height 0.25s cubic-bezier(0, 0, 0, 1);
}

.itemPanel {
  font-size: var(--text-xs);
  padding: var(--space-sm);
}

.chevron {
  margin-left: auto;
  transition: transform 0.25s cubic-bezier(0, 0, 0, 1);
  min-width: 20px;
}

.itemBtnExpanded .chevron {
  transform: rotate(180deg);
}

@media screen and (min-width: 768px) {
  .itemBtn {
    font-size: var(--text-sm);
  }
}

@media screen and (min-width: 1024px) {
  .itemBtn:hover {
    background-color: var(--satan);
  }
}
