.react-datepicker {
  background-color: var(--black);
  font-size: var(--text-xs);
  width: 180px;
}

.react-datepicker__header {
  background-color: var(--black);
  padding: 9px 0;

  & > * {
    color: var(--white);
  }
}

.react-datepicker__day-name {
  font-size: var(--text-xxs);
}

.react-datepicker__day-name,
.react-datepicker__day {
  color: var(--white);
  line-height: 2.1rem;
  width: 2.1rem;
}

.react-datepicker-month {
  background-color: var(--black);
  margin: var(--space-xxs) var(--space-xs);
}

.react-datepicker__current-month {
  font-size: var(--text-xxs);
}

.react-datepicker-popper[data-placement^='bottom'] .react-datepicker__triangle {
  fill: var(--black);
  color: var(--black);
}

.react-datepicker__day--keyboard-selected:not([aria-disabled='true']):hover,
.react-datepicker__day:not([aria-disabled='true']):hover {
  background-color: var(--white);
  color: var(--black);
}

.react-datepicker__day--disabled {
  color: var(--satan);
}

.react-datepicker__day--in-selecting-range,
.react-datepicker__day--in-range,
.react-datepicker__day--in-selecting-range:not(
    .react-datepicker__day--in-range,
    .react-datepicker__month-text--in-range,
    .react-datepicker__quarter-text--in-range,
    .react-datepicker__year-text--in-range
  ) {
  background-color: var(--satan);
}

.react-datepicker__day--keyboard-selected,
.react-datepicker__day--selected {
  background-color: var(--satan);
  color: var(--white);
}

.react-datepicker-wrapper {
  width: 100%;
}

.react-datepicker__input-container input {
  background: transparent;
  border: none;
  border-bottom: 1px solid white;
  border-radius: 0;
  color: var(--white);
  font-size: var(--text-xs);
  width: 100%;

  &:focus {
    outline-color: var(--satan);
  }
}
