.react-datepicker {
  background-color: var(--black);
}

.react-datepicker__header {
  background-color: var(--black);

  & > * {
    color: var(--white);
  }
}

.react-datepicker__day-name, .react-datepicker__day {
  color: var(--white);
}

.react-datepicker-month {
  background-color: var(--black);
}

.react-datepicker-popper[data-placement^="bottom"] .react-datepicker__triangle {
  fill: var(--black);
  color: var(--black);
}

.react-datepicker__day--keyboard-selected:not([aria-disabled="true"]):hover, .react-datepicker__day:not([aria-disabled="true"]):hover {
  background-color: var(--white);
  color: var(--black);
}

.react-datepicker__day--disabled {
  color: var(--satan);
}

.react-datepicker__day--keyboard-selected, .react-datepicker__day--selected {
  background-color: var(--satan);
  color: var(--white);
}

.react-datepicker-wrapper {
  width: 100%;
}

.react-datepicker__input-container input {
  background: transparent;
  border: none;
  border-bottom: 1px solid white;
  color: var(--white);
  font-size: var(--text-xs);
  width: 100%;

  &:focus {
    outline-color: var(--satan);
  }
}

@media screen and (min-width: 768px) {
  .react-datepicker__input-container input{
    width: unset;
  }
}
