.calendarIcon {
  color: var(--white);
  height: 38px;
  padding: var(--space-xxs);
  width: 35px;
}

.container {
  display: flex;
  flex-direction: column;
  height: 200px;
  max-width: 360px;
  width: 100%;
}

.customDatesButton {
  align-items: center;
  background: transparent;
  border: none;
  border-bottom: 1px solid var(--white);
  color: var(--satan);
  cursor: pointer;
  display: flex;
  font-size: var(--text-sm);
  gap: var(--space-sm);
  height: 38px;
  justify-content: space-between;
  padding: 0 2px;
  width: 100%;

  &:disabled {
    border-bottom: 1px solid var(--satan);
    cursor: not-allowed;
  }
}

.dateRange {
  font-size: var(--text-sm);
}

.dateRangeButtonLabel {
  color: var(--white);
  font-size: var(--text-xxs);
}

.datepickerDialog {
  height: 100%;
  max-height: 470px;
  max-width: 360px;
  width: 100%;
}

.dateControlsContainer {
  flex-direction: column;
  width: 100%;
}

.dialogContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-height: 360px;
  height: 100%;
}

.dialogTitle {
  margin-bottom: var(--space-md);
}

.input {
  background-color: var(--black);
  border: none;
  border-bottom: 1px solid var(--white);
  border-radius: 0;
  color: var(--white);
  font-size: var(--text-sm);
  padding: 2px;
  width: 100%;

  &:focus {
    outline: none;
  }
}

.label {
  display: none;
}

.resetButton {
  background: transparent;
  border: none;
  border-bottom: 1px solid var(--white);
  color: var(--white);
  cursor: pointer;
  font-size: var(--text-xxl);
}

.searchButton,
.clearSearchButton {
  background: transparent;
  border: none;
  border-bottom: 1px solid var(--white);
  color: var(--white);
  cursor: pointer;
  font-size: var(--text-xxl);
  height: 100%;
  padding: var(--space-xxs);
  width: 35px;

  &:hover {
    color: var(--satan);
  }
}

.buttonContainer,
.dateControlsContainer,
.searchContainer,
.searchButtonContainer {
  display: flex;
}

.searchSelectContainer {
  display: flex;
  flex-direction: column;
}

.searchContainer,
.selectContainer {
  width: 100%;
}

.buttonContainer,
.dateSelectContainer,
.searchContainer,
.selectContainer {
  margin-bottom: var(--space-sm);
}

.disabled,
.searchButton:disabled {
  color: var(--satan);
  cursor: not-allowed;
}

@media screen and (min-width: 768px) {
  .calendarIcon:hover {
    color: var(--satan);
  }

  .container {
    height: 175px;
    justify-content: space-evenly;
    max-width: 900px;
  }

  .buttonContainer {
    justify-content: space-around;
  }

  .resetButton:hover {
    color: var(--satan);
  }

  .dateControlsContainer,
  .searchSelectContainer {
    flex-direction: row;
    justify-content: space-between;
  }

  .buttonContainer,
  .dateSelectContainer,
  .searchContainer,
  .selectContainer {
    margin-bottom: unset;
    max-width: 48%;
    width: 100%;
  }
}
