.container {
  display: flex;
  flex-direction: column;
  height: 120px;
  justify-content: space-evenly;
  width: 100%;
}

.dateContainer {
  display: flex;
}

.input {
  background-color: var(--black);
  border: none;
  border-bottom: 1px solid var(--white);
  color: var(--white);
  font-size: var(--text-xs);
}
.label {
  display: none;
}

.searchButton {
  /* color: var(--white); */
  align-items: center;
  cursor: pointer;
  display: flex;
  font-size: var(--text-sm);
  justify-content: center;
  width: 100px;
}

.searchContainer {
  display: flex;
  align-items: center;
  margin-right: var(--space-md);
}