.button {
  background: transparent;
  border: none;
  color: var(--white);
  cursor: pointer;
  font-size: calc(var(--text-xxl) * 2);
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
}

.container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
}

.hide {
  opacity: 0;
}
