.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 0 var(--space-md)
}

.innerContainer {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: var(--space-sm);
  justify-items: center;
  margin: var(--space-xxl) auto;
  max-width: 1400px;
  width: 100%;
}

.title {
  font-size: var(--text-xxl);
  margin: var(--space-lg) 0;
}

.headerContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .innerContainer {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 1024px) {
  .innerContainer {
    grid-gap: var(--space-md);
    grid-template-columns: 1fr 1fr 1fr;
  }
}