.branding {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 130px;
}

.container {
  align-items: center;
  background-color: var(--black);
  border-bottom: 1px solid var(--white);
  display: flex;
  justify-content: space-between;
  padding: var(--space-xs) var(--space-sm);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

.controls {
  align-items: center;
  display: flex;
  justify-content: space-between;
  max-width: 160px;
  width: 100%;
}

.logo {
  height: auto;
  margin-right: var(--space-sm);
  width: 25px;
}

.controlsLink {
  color: var(--white);
  font-size: var(--text-xxl);
  padding: var(--space-xxs);
}

.donate {
  font-size: calc(var(--text-md) * 1.5);
}

.title {
  color: var(--white);
  font-size: var(--text-xs);
}

@media screen and (min-width: 768px) {
  .aboutLink{
    font-size: calc(var(--text-md) * 1.5);
  }
  
  .branding {
    width: 160px;
  }

  .title {
    display: block;
    font-size: var(--text-md);
  }
}

@media screen and (min-width: 1024px) {
  .controlsLink:hover {
    color: var(--satan);
  }
  
  .branding:hover {
    color: var(--satan);
  }

  .branding:hover svg, .branding:hover .title {
    color: var(--satan);
  }

  .title:hover {
    color: var(--satan);
  } 
}