.branding {
  align-items: center;
  display: flex;
}

.container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: var(--space-sm) var(--space-lg);
  width: 100%;
}

.controls {
  display: flex;
  align-items: center;
}

.logo {
  height: auto;
  margin-right: var(--space-sm);
  width: 25px;
}

.link {
  color: var(--white);
  font-size: var(--text-sm);
}

.title {
  display: none;
}

@media screen and (min-width: 768px) {
  .title {
    display: block;
  }
}