.container {
  display: flex;
  gap: var(--space-xs);
}

.icon {
  margin-right: var(--space-xxs);
}

.link {
  align-items: center;
  border: 1px solid var(--white);
  display: flex;
  font-size: var(--text-xs);
  padding: var(--space-xxs) var(--space-xs);
  white-space: nowrap;

  &:hover {
    background-color: var(--white);
    color: var(--black);
  }
}
