.container {
  border: 1px solid #666;
  color: #fff;
  margin: 10px;
  padding: 5px;
  width: 430px;
  height: 430px;
}

.imgContainer {
  align-items: center;
  background-color: #1b1b1b;
  display: flex;
  height: 320px;
  justify-content: center;
  overflow: hidden;
  width: 420px;
  margin-bottom: 5px;
}

.infoContainer {
  height: 110px;
}

.dateLocation {
  display: flex;
  font-size: 12px;
  justify-content: space-between;
}

h4 {
  margin: 10px 0;
}

img {
    height: auto;
    width: 430px;
}