.container {
  border: 1px solid var(--satan);
  color: var(--white);
  height: 360px;
  max-width: 460px;
  padding: var(--space-xxs);
  width: 100%;
}

.dateLocation {
  display: flex;
  font-size: var(--text-xxs);
  justify-content: space-between;
}

.imgContainer {
  align-items: center;
  background-color: #1b1b1b;
  cursor: pointer;
  display: flex;
  height: 250px;
  margin-bottom: var(--space-xxs);
  max-width: 450px;
  overflow: hidden;
  width: 100%;
}

.infoContainer {
  color: var(--white);
  cursor: pointer;
  padding: 0 var(--space-xxs);
  overflow: hidden;
  height: 80px;

  &:hover {
    /* TODO: trigger this on poster hover too */
    background-color: var(--white);
    color: var(--black);
    transition: all 0.2s ease-in-out;
  }
}

.poster {
  width: 100%;
}

.title {
  font-size: var(--text-sm);
  margin: var(--space-sm) 0 0 0;
  height: 65px;
}

@media screen and (min-width: 768px) {
  .container {
    height: 460px;
  }

  .imgContainer {
    height: 350px;
  }
}
