.closeButton {
  background: none;
  border: none;
  color: var(--white);
  cursor: pointer;
  font-size: var(--text-xxl);
  position: absolute;
  right: var(--space-sm);
  top: var(--space-sm);
}

.container {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.controls {
  display: flex;
  font-size: var(--text-xxs);
}

.imgContainer {
  align-items: center;
  background-color: #1b1b1b;
  display: flex;
  height: 100%;
  justify-content: center;
  max-width: 170px;
  width: 100%;
}

.infoContainer {
  font-size: var(--text-xs);
  margin-top: var(--space-sm);
  max-width: 350px;
  width: 100%;

  & > * {
    margin-bottom: var(--space-xs);
  }
}

.innerContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 80%;
  justify-content: space-evenly;
  max-width: 1000px;
  width: 100%;
}

.moreInfoLink {
  align-items: center;
  border: 1px solid var(--white);
  color: var(--white);
  display: flex;
  justify-content: center;
  margin-right: var(--space-md);
  padding: var(--space-xxs) var(--space-xs);
  width: 94px;
}

.title {
  font-size: var(--text-xs);
}

@media screen and (min-width: 768px) {
  .imgContainer {
    max-width: 350px;
  }

  .infoContainer {
    font-size: var(--text-sm);
    margin-left: var(--space-lg);
    margin-top: 0;
  }

  .innerContainer {
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
    width: 90%;
  }

  .title {
    font-size: var(--text-lg);
  }
}

@media screen and (min-width: 1024px) {
  .controls {
    font-size: var(--text-xs);
  }

  .moreInfoLink:hover {
    background-color: var(--white);
    color: var(--black);
  }
}