@import "../../styles/variables.css";

.container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.imgContainer, .poster {
  height: auto;
  width: 50vw;
}

.infoContainer {
  padding: 10px 5px 10px 0;
  width: 45vw;
}

.title {
  font-size: var(--text-xxl);
}