@import "src/styles/variables.css";

.zoom-dialog [data-rmiz-modal-overlay],
.zoom-dialog [data-rmiz-modal-img] {
  transition-duration: 0.2s;
  transition-timing-function: linear;
}

.zoom-dialog [data-rmiz-modal-overlay="hidden"] {
  background-color: rgba(0, 0, 0, 0);
}

.zoom-dialog [data-rmiz-modal-overlay="visible"] {
  background-color: rgb(0, 0, 0, 1);
}

.zoom-dialog [data-rmiz-btn-unzoom] {
  background-color: var(--white);
  color: var(--black);
}

.zoom-dialog [data-rmiz-btn-unzoom]:focus-visible {
  outline-offset: 0.4rem;
  outline: 0.2rem solid #666;
}