.closeButton {
  background: none;
  border: none;
  color: var(--white);
  cursor: pointer;
  font-size: var(--text-xxl);
  position: absolute;
  right: var(--space-sm);
  top: var(--space-sm);
}

.container {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.dialog {
  margin: auto;
  background-color: var(--black);
  border: 1px solid var(--white);
  border-radius: 4px;
  color: var(--white);

  &::backdrop {
    background-color: rgba(0, 0, 0, 0.7);
  }
}
